---
// Astro 的 frontmatter 脚本只包含 JavaScript
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "关于我";

const identity = {
    firstName: "莎拉",
    country: "加拿大",
    occupation: "技术撰稿人",
    hobbies: ["摄影", "观鸟", "棒球"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "#42A5F5";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>

    <!-- 由于 <h1> 现在是由布局组件创建的，因此你可以将 is:global 属性添加到样式标签中以影响此页面上的每个元素，包括由其他组件创建的元素 -->
    <style is:global define:vars={{ skillColor, textCase }}>
        h1 {
            color: #4caf50;
        }
        .skill {
            color: var(--skillColor);
            font-weight: bold;
            text-transform: var(--textCase);
        }
    </style>

    <h1>我的新 Astro 网站！</h1>

    <p>以下是关于我的几个事实：</p>
    <ul>
        <li>我的名字是{identity.firstName}.</li>
        <li>我住在{identity.country}。我的职业是{identity.occupation}。</li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    我的两个习惯：{identity.hobbies[0]}和{identity.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>我的技能是：</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>我非常乐意学习 Astro！</p>}
    {finished && <p>我完成了这节教程！</p>}
    {goal === 3 ? <p>我的目标是在三天内完成。</p> : <p>我的目标不是 3 天。</p>}
</BaseLayout>
